<ion-view view-title="Glance">
  <ion-content class="padding" scroll="false">
    <div id="splash-wrap">
      <div class="demo-headline">
        <h1 class="demo-logo">Thanks
          
        </h1>
      </div>
      <div class="row demo-row">
        <div class="col-xs-4">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-xs-4">
          <a ui-sref="logout" class="btn btn-block btn-lg btn-primary" ng-click="logout()" ng-controller="AppCtrl">Logout</a>
        </div>
        <div class="col-xs-4">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
      </div>
    </div>
  </ion-content>
  </ion-pane>